:root {
  --rem: 1rem;
}

.current-time {
  width: 80%;
  margin: 20px 0px;
  user-select: none;
  cursor: default;
  text-align: center;
  font-size: calc(2.5 * var(--rem));
  color: white;
  border-radius: var(--rem);
  background-color: black;
  font-family: "Monoton", cursive;
}

@media screen and (max-width: 800px) {
  .current-time {
    font-size: calc(2.2 * var(--rem));
  }
}
@media screen and (max-width: 500px) {
  .current-time {
    width: 100%;
    font-size: calc(2.4 * var(--rem));
  }
}
@media screen and (max-width: 350px) {
  .current-time {
    font-size: calc(1.9 * var(--rem));
  }
}
