button {
  width: 350px;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: larger;
  border-radius: 10px;
  background-color: blue;
  font-family: "Acme", sans-serif;
}

@media screen and (max-width: 500px) {
  button {
    width: 80vw;
    font-size: medium;
  }
}

@media screen and (max-width: 350px) {
  button {
    padding: 5px 0px;
  }
}
