#RinginAlarm {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100%;
  z-index: 100;

  background-color: rgb(132, 0, 255);
}

.ringing-alarm-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10% 0%;
}

#RinginAlarm > div > button {
  width: 50%;
}

#ringing-med-name {
  text-align: center;
  font-weight: 500;
  font-size: xx-large;

  font-family: "Acme", sans-serif;
}

#ringing-time {
  font-weight: bold;
  font-size: larger;
  font-family: "Monoton", cursive;
}

@media screen and (max-width: 250px) {
  #ringing-med-name {
    font-size: x-large;
  }

  #ringing-time {
    font-size: medium;
  }
  
  #RinginAlarm > div > button {
    margin: 5px 0px;
  }
}
