.options-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper-option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

select {
  font-size: large;
  padding: 10px 15px;
  cursor: pointer;
  width: max-content;
  color: white;
  background: blue;
  border-radius: 10px;
  font-family: "Acme", sans-serif;
}

@media screen and (max-width: 500px) {
  select {
    padding: 7px;
    font-size: medium;
    font-weight: 200;
  }
}

@media screen and (max-width: 350px) {
  select {
    padding: 5px;
    font-size: small;
    font-weight: 200;
  }
}
